
{% extends 'randa.html.twig' %} 

{% block body %}

  
       {{ include('slide.html.twig')}}
        <section>
            <div class="row">
                <div class="col-md-8">
                {% for news in lastNews %}
                    <article class="blog-post">
                        <div class="blog-post-image">
                            <a href="{{ path('post_view', {id: news.id}) }}"><img src="{{ news.imgUrl}}" alt=""></a>
                        </div>
                        <div class="blog-post-body">
                            <h2><a href="{{ path('post_view', {id: news.id}) }}">{{news.title}}</a></h2>
                            <div class="post-meta"><span>par <a href="#">{{news.user.firstName}}{{news.user.lastName}}</a></span>/<span><i class="fa fa-clock-o"></i>{{news.createdAt | ago }}</span>/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span></div>
                            <p>{{news.content | u.truncate(100,"...")}}</p>
                            <div class="read-more"><a href="{{ path('post_view', {id: news.id}) }}">Continue Reading</a></div>
                        </div>
                    
                </article>
                
                
                {% endfor %}
                </div>
               {{ include('sidebar.html.twig')}}
            </div>
        </section>
   
    <!-- /.container -->

{% endblock %}



